# NutriScore AI - Backend Environment Variables
APP_ENV=development
APP_PORT=8000
APP_HOST=0.0.0.0
CORS_ORIGINS=*

# 100% Indian ICMR-NIN 2024 / IFCT 2017 Configuration
DEFAULT_ALGORITHM_MODE=icmr_nin_2024

# Database Configuration (Strictly MongoDB, Zero SQL)
ENABLE_HISTORY=true
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.3thw6ts.mongodb.net/?retryWrites=true&w=majority
MONGODB_DATABASE=nutriscore
